<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center justify-content-center" style="height: 90vh;">
      <h1 class='p-5'>Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


        <div class="field mt-3">
          <%= f.label :ユーザーネーム %><br />
          <%= f.text_field :user_name, autofocus: true,class:"form-control",id:"exampleFormControlInput1" %>
        </div>

        <div class="field mt-3">
          <%= f.label :Eメール %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",id:"exampleFormControlInput1"  %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control",id:"exampleFormControlInput1"  %>
        </div>
        
        <div class="field mt-3">
          <%= f.label :パスワード確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",id:"exampleFormControlInput1"  %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録する",class:'btn btn-danger btn-lg btn-block mt-5 ' %>

          <%= link_to "ログインする", user_session_path,class:'btn btn-primary btn-lg btn-block mt-2 ' %>
          </div>
      <% end %>

      </div>
    </div>
  </div>
</div>

