<%= render "layouts/header_nav" %>

<div class="container">
  <div class="row justify-content-center">
  <div class="col">
  <div class="favorite-title text-center"><h1>My Favorite</h1></div>
      <% if @favorites_list.nil? %>
      <h2 class="text-center favorite-message">お気に入り登録がありません</h2>
      <% else %>
        <% @favorites_list.each do |favorites_list| %>
          
              <div class="d-flex justify-content-center">
                <div class="favorite-balloon_light">
                  <div class="icon d-flex justify-content-end">
                    <%= link_to user_path(favorites_list.user_id) do%>
                      <%= attachment_image_tag  favorites_list.user,:user_photo,class:'post_user_image',fallback:'no_imag_user.png'%>
                      <div class="text-break d-flex flex-column justify-content-end ">
                      <%= favorites_list.user.user_name %>
                      </div>
                    <% end %>
                  </div>

                        <%# ----------いいね機能------- %>
                        <div class="favorite_buttons_<%= favorites_list.id %>">
                          <%= render "favorites/favorite",post: favorites_list %>
                        </div>
                        <%# ----------いいね機能------- %>

                          <h3 class="text-break"><%= simple_format(favorites_list.post_body) %></h3>
                            <div class="d-flex flex-column">
                              <%= attachment_image_tag favorites_list,:post_image,size:'100X100' %>
                              <%# -------------------条件分岐-------------------------%>
                              <div id="select-test<%= favorites_list.id %>" class="d-flex flex-column text-right">
                                  <%= render "post_selects/select" ,post: favorites_list %>
                            </div>
                              <%# -------------------（fin）条件分岐-------------------------%>
                              <i class="fas fa-tag mt-3"><%= favorites_list.tags.map(&:tag_name).join('#')%></i>
                                          <%# -----------コメント判断------------ %>
                              <% if favorites_list.comments.exists? %>
                                <%= link_to post_path(favorites_list.id),class:'text-right' do%>
                                <div class="text-right fas fa-comments fa-lg comment-icon"><%= favorites_list.comments.count %></div>
                                <% end %>
                              <% end %>
                             
                            </div>
                            <div class="d-flex flex-column text-right">
                              <%= link_to "詳細を見る",post_path(favorites_list.id),class:"right-block mt-3" %>
                              <%= favorites_list.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                            </div>
                              <div class="w-100"></div>
                </div>
              <%# -- ↑改行↑ -- %>
            <%# -- [fin]右側吹き出し --%>
            </div>
        <% end %>
    <% end %>
  </div>
</div>


<style>

.favorite-title {
  margin-top: 100px;

}

.favorite-title h1{
   font-family : 'Times New Roman', Times, serif;
   background-color: lightgray;
   text-align:center
}


</style>




