<div class="container">
    <div class="row justify-content-center">
      <div class="col-8 ">
        <%= form_with model:@user,local:true do |f| %>
        <%= render 'layouts/error_msg', model: f.object %>
          <div class="d-flex flex-column">
              <div class="edit-user-photo text-center">
              <%= attachment_image_tag @user,:user_photo,id: "preview",fallback:'no_imag_user.png'%>
                <div class="user_photos"><%= f.label:user_photo,"画像選択" %></div>
              <%= f.attachment_field :user_photo %>
              </div>

            <%= f.label:user_name,"ユーザーネーム" %>
            <%= f.text_field :user_name %>

            <%= f.label:email,"e-mail" %>
            <%= f.text_field :email %>

            <%= f.label:user_content,"プロフィール" %>
            <%= f.text_area :user_content %>

            <%= f.submit"編集する",class:"btn btn-primary mt-4"%>
            <% end %>
            <div class="user_edit_btn d-flex flex-column text-center">
              <%= link_to "戻る",user_path(@user),class:'btn btn-info mt-3' %>
              <%= link_to "退会する",user_unsubscribe_path,class:'btn btn-danger mt-5 mb-5' %>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>




<script>
// 画像プレビュー機能
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#user_user_photo").change(function(){
    readURL(this);
  });
});
</script>
