<div class="container">
  <div class="text-center">
    <div class="row">
     <div class="col">
     <div class="user_photo">
     <%= attachment_image_tag @user,:user_photo %>
     </div>
    <%= form_with model:@user,local:true do |f| %>
    <%= f.label:user_photo,"画像選択" %>
    <%= f.attachment_field :user_photo %>
    <%= f.label:user_name,"ユーザーネーム" %>
    <%= f.text_area :user_name %>
    <%= f.label:email,"e-mail" %>
    <%= f.text_area :email %>
    <%= f.label:user_content,"e-mail" %>
    <%= f.text_area :user_content %>
    <%= f.submit"編集する",class:"btn btn-primary"%>
    <% end %>
    <%= link_to "退会する"%>
    <%= link_to "戻る"%>
    </div>
  </div>
  </div>
</div>


<style>
.img.attachment.user.user_photo{
    max-width: 50%;
    max-height: 200px;
    border-radius: 50%;
}
</style>