<%= render "layouts/header_nav" %>
<div class="container mt-5">
  <div class="row ">
    <%# ---------------【st】-ユーザー画面（左側）---------------------- %>
    <div class="col-4 m-5 ">
      <div class="center-block">
        <div class="user_photo itmes-center ">
          <%= attachment_image_tag @user,:user_photo,fallback:'no_imag_user.png' %>
        </div>

        <div class="text-center mt-4"><%= @user.user_name %></div>

        <div class="follower text-center mt-4">
        フォロ数：５人
        </div>
        
        <div class="follower text-center">
        フォロ-：５人
        </div>
      
        <div class="user_profile_body text-center mt-4">
        <p class='text-break'><%= @user.user_content %></p>
        </div>
        
        <div class="edit-user-btn text-center">
         <% if current_user == @user %>
          <%= link_to "編集する",edit_user_path(@user),class:"btn btn-primary" %>
        <% end %>
        <%= link_to "戻る",posts_path,class:"btn btn-primary" %>
        </div>

      </div>
    </div>
    <%# ---------------【fin】-ユーザー画面（左側）---------------------- %>
    <div class="col-6 mt-5">
      <% @posts.each do |post| %>
      <div class="user_posts">
        <div class="balloon_left">
      <h3 class="text-break"><%= post.post_body %></h3>
          <div class="d-flex flex-column">
            <%= attachment_image_tag post,:post_image,style:'object-fit: cover;  width: 100%; height: 90%;' %>
           <%# -------------------（fin）条件分岐------------------------%>
            <div id="select-test<%= post.id %>" class="d-flex flex-column" >
            <%= render "post_selects/select" ,post: post %>
            </div>
          <%# -------------------（fin）条件分岐------------------------%>

          </div>
          <div class="d-flex flex-column text-right">
            <%= link_to "詳細を見る",post_path(post.id),class:"right-block" %>
            <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
          </div>
              <div class="w-100"></div>
              <%# -- ↑改行↑ -- %>


      </div>
        
      <% end %>
      </div>
    </div>


  </div>
</div>


<style>

/* 吹き出し本体 */
.balloon_left{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #555;
  background-color: #e0edff;
  margin-top: 20px;          /* 左に余白を設ける */
  margin-right: 20px;  
}
/* 画像 - 絶対配置で左上に配置 */
.balloon_left .icon{
  position: absolute;
  left: -620px;
  top: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* 三角アイコン */
.balloon_left::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #e0edff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.user_photo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-left:35px;
}


</style> 
