
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8 mt-5">
    <h3 class="text-center">ご確認画面</h3>
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">お名前</h5>
          <p class="card-text"><%= @contact.contact_name %></p>

          <h5 class="card-title">ご連絡先</h5>
          <p class="card-text"><%= @contact.contact_email %></p>

          <h5 class="card-title">ご用件</h5>
          <p class="card-text"><%= @contact.contact_subject %></p>

          <h5 class="card-title">メッセージ</h5>
          <p class="card-text"><%= @contact.contact_message %></p>


          <%#-------送信ボタンを押した際に、前画面（new)で入力した情報を保持して送るため %>
          <%= form_with model:@contact do |f| %>
            <%= f.hidden_field :contact_name %>
            <%= f.hidden_field :contact_email %>
            <%= f.hidden_field :contact_subject %>
            <%= f.hidden_field :contact_message %>
            <div class="text-right mt-3">
            <%= f.submit '送信する。',class:"btn btn-primary text-right" %>
            </div>
          <% end %>
        </div>
      </div>
       <%#-------戻るボタンを押した際に、入力の情報を保持して送るため %>
          <%= form_with(model:@contact, url: back_path, local:true) do |f| %>
            <%= f.hidden_field :contact_name %>
            <%= f.hidden_field :contact_email %>
            <%= f.hidden_field :contact_subject %>
            <%= f.hidden_field :contact_message %>
            <div class="text-right mt-5">
            <%= f.submit '入力画面に戻る',class:"btn btn-info" %>
            </div>
          <% end %>
    </div>
  </div>
</div>

