<%= form_for(@contact, url: confirm_path) do |f| %>
  <div class="form-group">
    <%= f.label :contact_name, 'お名前*' %>
    <%= f.text_field :contact_name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contact_message, 'メッセージ*' %>
    <%= f.text_area :contact_message, size: '10x10', class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= f.label :contact_email, 'ご返信先（E-mail)*' %>
    <%= f.text_area :contact_email, size: '10x10', class: 'form-control' %>
  </div>

  <div>
    <%= f.submit '入力内容確認' %>
  </div>
<% end %>