<div class="container">
  <div class="row justify-content-center bg-info ">
<%# --右側吹き出し--  %> 
  <div class="col">
    <div class=" d-flex justify-content-end ">
      <div class="right-pop-first">
        <h2>リファレンスとは...</h2>
        <h4>あなたの迷いに対してあなたの迷いに対して<br/>
        ちょっとだけ手助けするSNSです</h4> 
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>
 
 <div class='about-timer' id="about-setTimeout">↓↓↓</div>

<%# --右側吹き出し--  %> 
  <div class="col">
    <div class="effect d-flex justify-content-end">
      <div class="right-pop">
        <h3 class="m-3">たとえば…</h3>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>

<%# --左側吹き出し--  %> 
  <div class="col">
    <div class="effect d-flex justify-content-start">
      <div class="left-pop py-4">
        <h5>今日のランチは何を食べよう。</h5>
        <div class="d-flex flex-column">
          <button type="button" class="btn btn-info mt-3">A.中華</button>
          <button type="button" class="btn btn-info mt-3">B.イタリアン</button>
        </div>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]左側吹き出し --%>

<%# --左側吹き出し--  %> 
   <div class="col">
    <div class="effect d-flex justify-content-end">
      <div class="right-pop">
      <h5>この車を買う予定ですが、<br/>
      新車にするか、中古車か迷っています。<br/>
      どちらがいいと思いますか？</h5>
        <div class="d-flex flex-column">
         <%= image_tag 'about_car.jpeg',size:'350x400',style:'object-fit: cover; height: 30%;'%>
        <button type="button" class="btn btn-info mt-3">A.新車</button>
        <button type="button" class="btn btn-info mt-3">B.中古車</button>
         </div>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>


<%# --右側吹き出し--  %> 
  <div class="col">
    <div class="effect d-flex justify-content-end ">
      <div class="right-pop">
        <h5 class="about-text">
          このような感じで、あなたの…<br/>
          <span>小さな迷いも</span><br/>
          <span>大きさ迷いも</span><br/> 
          仲間が答えてくれます。<br/>
          そして、あなたも仲間の悩みを解決する手伝いができます。
          </h5> 
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]右側吹き出し --%>



<%# --左側吹き出し--  %> 
  <div class="col">
    <div class="effect d-flex justify-content-start">
      <div class="left-pop-end">
      <% if current_user == nil %>
      <div class="d-flex flex-column">
          <h2>さっそく始める！！</h2>
        <%= link_to "新規登録をして始める",new_user_registration_path,class:"btn btn-danger btn-lg m-3" %>
        <%= link_to "新規登録をやめる",destroy_user_session_path,method: :delete,class:"btn btn-info btn-lg m-3" %>
        </div>

      <% elsif current_user.email == 'gest@gest.com' %>
        <h2>さっそく始める！！</h2>
        <div class="d-flex flex-column">
          <%= link_to "アプリを見る", posts_path ,class:"btn btn-danger btn-lg m-3" %>
          <%= link_to '制作者情報を見る', profile_path ,class:"btn btn-info btn-lg m-3" %>
        </div>
      <% end %>
         </div>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
<%# -- [fin]左側吹き出し --%>
  </div>
</div>


<script>
$("html,body").animate({scrollTop:$('.left-pop-end').offset().bootom});
  $(function(){
    $(".effect").css({opacity:"0"});
    $(window).scroll(function (){
      $(".effect").each(function(){
        var post_top = $(this).offset().top;
        var roll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (roll > post_top - windowHeight + windowHeight/2){
          $(this).animate({ opacity: 1 }, { duration: 1000})
        }
      });
    });
  });

  setTimeout(function(){
     $('#about-setTimeout').show();
},3000);

</script>

<style>
#about-setTimeout {
  font-size: 100px;
  display: none;
  margin: 0 50%;
  animation: flash 1s linear infinite;
  color:white;
}

@keyframes flash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

</style>