  <%# --左側吹き出し--  %>
  <div class="row">
<div class="col-6 mt-3">
  <div class="balloon_left justify-content-center">
      <div class="icon">
        <%= link_to user_path(post.user_id) do%>
          <%= attachment_image_tag post.user,:user_photo,class:'post_user_image',fallback:'no_imag_user.png'%>
            <div class="user_name_line text-break text-white mt-2"><%= post.user.user_name %></div>
        <% end %>
      </div>

      <h3 class="text-break"><%=simple_format(post.post_body) %></h3>
          <div class="d-flex flex-column">
            <%= attachment_image_tag post,:post_image %>
          <%# -------------------条件分岐-------------------------%>
            <div id="select-test<%= post.id %>" class="d-flex flex-column" >
            <%= render "post_selects/select" ,post: post %>
            </div>
          <%# -------------------（fin）条件分岐------------------------%>
          <%# -------------------タグ表示-------------------------%>
          <i class="fas fa-tag mt-3"><%= post.tags.map(&:tag_name).join('#')%></i>
          <%# -------------------タグ表示-------------------------%>
            <%# -----------コメント判断------------ %>
            <% if post.comments.exists? %>
              <%= link_to post_path(post.id),class:'text-right' do%> 
              <div class="text-right fas fa-comments fa-lg comment-icon"><%= post.comments.count %></div>
              <% end %>
            <% end %>
            <%# -----------(fin)コメント判断------------ %>
          </div>
          <div class="d-flex flex-column text-right mt-2">
          <div class="text-righ">
          <%= link_to "詳細を見る",post_path(post.id) %>
          </div>
            <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
          </div>
              <div class="w-100"></div>
              <%# -- ↑改行↑ -- %>
  </div> 
</div>
</div>
<%# -- [fin]左側吹き出し --%>


<style>

/* 吹き出し本体 */
.balloon_left{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #555;
  background-color: #e0edff;
  margin-left: 200px;          /* 左に余白を設ける */
}
/* 画像 - 絶対配置で左上に配置 */
.balloon_left .icon{
  position: absolute;
  left: -155px;
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* 三角アイコン */
.balloon_left::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #e0edff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.balloon_left .post_user_image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.comment-icon{
  color:#007bff;

}


</style> 



















