  <%# --左側吹き出し--  %>
<div class="col-6 mt-3">
  <div class="balloon_left">
      <div class="text-center">
      <%= posts.user.user_name %>
      </div>
      <h3 class="text-break"><%= posts.post_body %></h3>
          <div class="d-flex flex-column">
            <%= attachment_image_tag posts,:post_image,style:'object-fit: cover;  width: 60%; height: 90%;' %>
            <%= link_to "A.#{posts.select_a}",root_path,class:"text-break btn btn-danger btn-lg m-3" %>
            <%= link_to "B.#{posts.select_b}",root_path,class:"text-break btn btn-info btn-lg m-3" %>
          </div>
          <div class="d-flex flex-column text-right">
            <%= link_to "詳細を見る",post_path(posts.id),class:"right-block" %>
            <%= posts.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
          </div>
              <div class="w-100"></div>
              <%# -- ↑改行↑ -- %>
  </div> 
</div>
<%# -- [fin]左側吹き出し --%>


<style>

/* 吹き出し本体 */
.balloon_left{
  position: relative;
  padding: 20px;
  border-radius: 10px;
  color: #555;
  background-color: #e0edff;
  margin-left: 200px;          /* 左に余白を設ける */
}
/* 画像 - 絶対配置で左上に配置 */
.balloon_left .icon{
  position: absolute;
  left: -200px;
  top: 0;
}
/* 三角アイコン */
.balloon_left::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #e0edff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}



</style> 



















