  <%# --左側吹き出し--  %>
<div class="col-12">
  <div class="left_ballon">
    <div class="face_icon mt-5">
    <%#= link_to current_user.post_image %>
    <%#= posts.user_name %>
    </div>
    <div class="d-flex justify-content-start">
      <div class="post-left">
        <h3 class="text-break"><%= posts.post_body %></h3>
        <div class="d-flex flex-column">
          <%= attachment_image_tag posts,:post_image,style:'object-fit: cover;  width: 500px; height: 90%;' %>
          <%= link_to "A.#{posts.select_a}",root_path,class:"btn btn-danger btn-lg m-3" %>
          <%= link_to "B.#{posts.select_b}",root_path,class:"text-break btn btn-info btn-lg m-3" %>
        </div>
        <div class="d-flex flex-column text-right">
        <%= link_to "詳細を見る",post_path(posts.id),class:"right-block" %>
        <%= posts.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </div>
      </div>
    </div>
  </div>
    <div class="w-100"></div>
    <%# -- ↑改行↑ -- %>
  <%# -- [fin]左側吹き出し --%>
</div> 