  <%# 投稿all %>
    <% posts.each do |post| %>

      <%#ーーー 投稿者判断　ーーー%>
      <% if post.user_id == current_user.id %>

        <%#= -----投稿者側の投稿内容 ----- %>
            <%# --左側吹き出し--  %>
          <div class="row">
            <div class="col-6 mt-3">
              <div class="balloon_left justify-content-center">
                  <div class="icon">
                    <%= link_to user_path(post.user_id) do%>
                      <%= attachment_image_tag post.user,:user_photo,class:'post_user_image',fallback:'no_imag_user.png'%>
                        <div class="user_name_line text-break text-white mt-2"><%= post.user.user_name %></div>
                    <% end %>
                  </div>

                      <%# ----------いいね機能------- %>
                      <div class="favorite_buttons_<%= post.id %>">
                        <%= render "favorites/favorite",post: post %>
                      </div>
                      <%# ----------いいね機能------- %>

                  <h3 class="text-break"><%= simple_format(post.post_body) %></h3>
                      <div class="d-flex flex-column">
                        <%= attachment_image_tag post,:post_image %>
                      <%# -------------------条件分岐-------------------------%>
                        <div id="select-test<%= post.id %>" class="d-flex flex-column" >
                        <%= render "post_selects/select" ,post: post %>
                        </div>
                      <%# -------------------（fin）条件分岐------------------------%>
                      <%# -------------------タグ表示-------------------------%>
                      <i class="fas fa-tag mt-3"><%= post.tags.map(&:tag_name).join('#')%></i>
                      <%# -------------------タグ表示-------------------------%>
                        <%# -----------コメント判断------------ %>
                        <% if post.comments.exists? %>
                          <%= link_to post_path(post.id),class:'text-right' do %>
                          <div class="text-right fas fa-comments fa-lg comment-icon"><%= post.comments.count %></div>
                          <% end %>
                        <% end %>
                        <%# -----------(fin)コメント判断------------ %>
                      </div>
                      <div class="d-flex flex-column text-right mt-2">
                      <div class="text-righ">
                      <%= link_to "詳細を見る",post_path(post.id),class:'btn btn-info' %>
                      </div>
                        <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                      </div>
                          <div class="w-100"></div>
                          <%# -- ↑改行↑ -- %>
              </div>
            </div>
          </div>
        <%#= -----投稿者側の投稿内容 ----- %>
      <% else %>
        <%# --右側吹き出し--  %>
        <div class="row">
          <div class="col">
            <div class="balloon_light mt-3  ">
              <div class="icon d-flex justify-content-end">
                <%= link_to user_path(post.user_id) do%>
                  <%= attachment_image_tag  post.user,:user_photo,class:'post_user_image',fallback:'no_imag_user.png' %>
                  <div class="text-white text-break d-flex flex-column justify-content-end ">
                  <%= post.user.user_name %></div>
                <% end %>
              </div>

                    <%# ----------いいね機能------- %>
                    <div class="favorite_buttons_<%= post.id %>">
                      <%= render "favorites/favorite",post: post %>
                    </div>
                    <%# ----------いいね機能------- %>

                <h3 class="text-break"><%= simple_format(post.post_body) %></h3>
                    <div class="d-flex flex-column">
                      <%= attachment_image_tag post,:post_image %>
                      <%# -------------------条件分岐-------------------------%>
                      <div id="select-test<%= post.id %>" class="d-flex flex-column text-right">
                          <%= render "post_selects/select" ,post: post %>
                      </div>
                      <%# -------------------（fin）条件分岐-------------------------%>
                      <i class="fas fa-tag mt-3"><%= post.tags.map(&:tag_name).join('#')%></i>
                                  <%# -----------コメント判断------------ %>
                    <% if post.comments.exists? %>
                      <%= link_to post_path(post.id),class:'text-right' do%>
                      <div class="text-right fas fa-comments fa-lg comment-icon"><%= post.comments.count %></div>
                      <% end %>
                    <% end %>
                    <%# -----------(fin)コメント判断------------ %>


                    </div>
                    <div class="d-flex flex-column text-right">
                    <div class="text-right">
                      <%= link_to "詳細を見る",post_path(post.id),class:"btn btn-info right-block mt-3" %>
                    </div>
                    <%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                    </div>
                      <div class="w-100"></div>
          <%# -- ↑改行↑ -- %>
        <%# -- [fin]右側吹き出し --%>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

