<%= render "layouts/header_nav" %>
<%#ーーー ヘッダー　ーーー%>
<div class="container-fluid ">
  <div class="row ">
    <%# --左側吹き出し--  %> 

    <div class="col text-center">
    <h1 class="timeline-title">My TimeLine</h1>
    </div>
    <div class="w-100"></div>
    <%# --　新規投稿用吹き出し --%>
    <div class="col">
      <div class="d-flex justify-content-start">
        <div class="left-pop py-2">
          <h2 class='text-center'>新規投稿</h2>
          <div class="d-flex flex-column">
            <%= form_with model:@post_new,local:true do |f| %>
              <%= render 'layouts/error_msg', model: f.object %>
            <div class="form-group">
                <%= f.label :post_body,"投稿本文" %>
                <%= f.text_area :post_body,class:'w-100' %>
                </div>
              <div class="d-flex flex-row">
              <div class="form-group">
                <%= f.label :select_a,"選択肢A" %>
                <%= f.text_area :select_a,class:'h-200' %>
                </div>
                <div class="form-group ml-3">
                <%= f.label:select_b,"選択肢B" %>
                <%= f.text_area :select_b %>
              </div>
              </div>
              <%= f.label:post_image,"画像選択" %>
              <%= f.attachment_field :post_image %>

              <%= f.label :tag_name %>
              <%= f.text_field :tag_name%>
              
              <div class="form-group text-center">
              <%= f.submit "投稿する",class:'btn btn-danger btn-lg' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="w-100"></div>
      <%# -- ↑改行↑ -- %>
    <%# -- [fin]左側吹き出し --%>
  </div>
  <%# ----------------------------固定------------------------------------------%>

  <%# 投稿all %>
  <div class="row">
    <% @posts.each do |post| %>
      <%#ーーー 投稿者判断　ーーー%>
      <% if post.user_id == current_user.id %>
        <%#= -----投稿者側の投稿内容 ----- %>
        <%= render partial: "current-user-post" ,locals: {post: post} %>
      <% else %>
        <%#= -----利用者の側の投稿内容 ----- %>
        <%= render partial: "user-post" ,locals: {post: post} %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @posts, theme: 'twitter-bootstrap-4',class:'text-center' %>







<style>
body {
  background-color:#17a2b8;
}
.timeline-title {
  font-family : 'Times New Roman', Times, serif;
  font-size: 50px;
  color:white;
  background-color:
}
.pagination{
  justify-content: center;
  margin-top: 20px ;
}
</style>