<%= render "layouts/header_nav" %>
<%#ーーー ヘッダー　ーーー%>
<div class="container-fluid ">
  <div class="row ">
      <%# --左側吹き出し--  %> 

    <div class="col text-center mt-5">
      <h1 class="timeline-title">My TimeLine</h1>
    </div>
  </div>
    <div class="w-100"></div>
    <%# --　新規投稿用吹き出し --%>
  <div class="row ">
    <div class="col">
      <div class="d-flex justify-content-start">
        <div class="new-post-leftpop text-center ">
        <h3>ようこそ！<%=current_user.user_name %>様</h3>
          <!-- Button trigger modal -->
        <div class="d-flex flex-column">

          <%#  %>
          <button type="button" class="btn btn-primary btn btn-primary btn-lg mt-3" data-toggle="modal" data-target="#exampleModal">
          <i class="fas fa-comment-medical post-new-icon"></i><br/>New Post
          </button>

          <%# マイページ %>
          <%= link_to user_path(current_user.id),class:"btn btn-secondary mt-4"  do %>
          <i class="fas fa-address-card post-user-icon"></i><br/>My page
          <% end %>

          <%# ランキング %>
          <%= link_to post_ranking_path,class:"btn btn-success mt-2" do %>
          <i class="fas fa-crown post-ranking-icon"></i><br/>Ranking
          <% end %>
          
          <%# いいね %>
          <%= link_to user_favorite_show_path(current_user.id),class:"btn btn-danger mt-2" do%>
          <i class="fas fa-star post-favorite-icon"></i><br/>My favorites
          <% end %>

        </div>

        </div>
      </div>
    </div>
    </div>
      <div class="w-100"></div>
      <%# -- ↑改行↑ -- %>
    <%# -- [fin]左側吹き出し --%>
  </div>


<%= render "posts/new-post",post: @post %>
  <%# ----------------------------固定------------------------------------------%>

  <%# 投稿all %>
  <div class="posts_index">
    <%= render 'posts/post_index',posts: @posts %>
  </div>
  <div class="text-center">
  <%= paginate @posts, theme: 'twitter-bootstrap-4',class:'text-center' %>
</div>


<style>
body {
  background-color:#17a2b8;
}

