<%= render "layouts/header_nav" %>
<%#ーーー ヘッダー　ーーー%>

<div class="search">
  <div class="container">
    <div class="col-xs-12 mt-4">
      <% if @model == "post" %>
        <h1 class="search-title">投稿内容検索キーワード <span>'<%= @value %>'</span></h1>
          <table class="table text-center mt-5">
            <thead>
              <tr>
                <th class='w-25'>検索順位</th>
                <th class='w-25'>ユーザーネーム</th>
                <th class='w-25'>投稿内容</th>
                <th class='w-25'></th>
              </tr>
            </thead>
              <% @datas.each.with_index(1) do |post,i| %>
                <tbody>
                  <tr>
                    <td><%= i %>
                    </td>
                      <td>
                      <%= link_to user_path(post.user.id) do %> 
                      <%= attachment_image_tag(post.user, :user_photo, fallback:'no_imag_user.png',size:'100x100') %><br/>
                      <%= post.user.user_name %>
                      <% end %>
                      </td>
                      <td class='post text-break' >
                      <%= link_to post_path(post) do %>
                      <%= simple_format(h(post.post_body)).truncate(20, omission: '~~~') %>
                      end
                      <td>
                        <div class="favorite_buttons_<%= post.id %>">
                        <%= render "favorites/favorite",post: post %>
                        </div>
                      </td>
                  </tr>
                </tbody>
              <% end %>


      <% elsif @model == "tag" %>
        <h1 class="search-title">タグ検索結果 :<%= @value %></h1>
          <table class="table">
            <thead>
              <tr>
                <th>""</th>
                <th>タグ</th>
                <th >投稿者</th>
                <th>投稿内容</th>
              </tr>
            </thead>
              <% @datas.each do |tag| %>
                <tbody>
                  <tr>
                    <td>''</td>
                    <td class='fas fa-tag text-break'><%= tag.tag_name %></td>
                  </tr>
                </tbody>
              <% end %>
          </table>
      <% end %>
    </div>
  </div>
</div>

<style>

</style>