<%= render "layouts/header_nav" %>
<%#ーーー ヘッダー　ーーー%>

<div class="search">
  <div class="container">
    <div class="col-xs-12 mt-4">
      <% if @model == "post" %>
        <h1 class="search-title">投稿内容検索キーワード <span>'<%= @value %>'</span></h1>
          <table class="table text-center mt-5">
            <thead>
              <tr>
                <th class='w-25'>検索順位</th>
                <th class='w-25'>ユーザーネーム</th>
                <th class='w-25'>投稿内容</th>
                <th class='w-25'></th>
              </tr>
            </thead>
              <% @datas.each.with_index(1) do |post,i| %>
                <tbody>
                  <tr>
                    <td><%= i %>
                    </td>
                      <td>
                      <%= link_to user_path(post.user.id) do %> 
                      <%= attachment_image_tag(post.user, :user_photo, fallback:'no_imag_user.png',size:'100x100') %><br/>
                      <%= post.user.user_name %>
                      <% end %>
                      </td>
                      <td class='post text-break' >
                      <%= link_to post_path(post) do %>
<<<<<<< HEAD
                      <%= simple_format(h(post.post_body)).truncate(20, omission: '~~~') %>
=======
                      <%= post.post_body.truncate(20, omission: '...') %>
                      <% end %>
>>>>>>> b51b66f ([fix]error)
                      <td>
                        <div class="favorite_buttons_<%= post.id %>">
                        <%= render "favorites/favorite",post: post %>
                        </div>
                      </td>
                  </tr>
                </tbody>
              <% end %>
      <% elsif @model == "user" %>
        <h1 class="search-title">User検索キーワード :<%= @value %></h1>
          <table class="table text-center">
            <thead>
              <tr>
                <th><h2>#</h2></th>
                <th><h2>ユーザー名</h2></th>
                <th><h2>投稿数</h2></th>
                <th><h2>フォロワー数</h2></th>
                <th><h2>フォロー数</h2></th>
              </tr>
            </thead>
              <% @datas.each.with_index(1) do |user, i| %>
                <tbody>
                  <tr>
                    <td><%= i %></td>
                    <td class='text-center'>
                     <%= link_to user_path(user.id) do %> 
                        <%= attachment_image_tag(user, :user_photo, fallback:'no_imag_user.png',size:'100x100') %><br/>
                        <%= user.user_name %>
                      <% end %>
                    </td>

                    <td>
                      <h3><%= link_to user_path(user.id) do %> 
                          <i class="fas fa-comment-dots"></i><%= user.posts.count %>
                          <% end %>
                      </h3>
                    </td>

                    <td>
                      <h3><%= link_to user_followers_path(user.id) do %>
                          <i class="fas fa-user-friends"></i><%= user.followers.count %>
                          <% end %>
                      </h3>
                    </td>

                    <td>
                      <h3>  <%= link_to user_followings_path(user.id) do %>
                              <i class="fas fa-user-plus"></i><%= user.followings.count %>
                            <% end %>
                      </h3>
                    </td>

                  </tr>
                </tbody>
              <% end %>
          </table>
      <% end %>
    </div>
  </div>
</div>

