<% @count_A = post.post_selects.where(is_select: "A").size %>
<% @count_B = post.post_selects.where(is_select: "B").size %>
<% if current_user_select = post.post_selects.find_by(user_id: current_user.id ) %><%# もしユーザーが投稿に対して、選択したことがあるか？否か？ %>

  <% if current_user_select.is_select == "A" %> <%# そのユーザーが過去に"A"だったら、"A"はdelete　"B"はupdate %>
    <%= link_to post_post_selects_path(post_id:post.id, id:current_user_select.id), method: :DELETE, class:"text-break btn btn-info btn-lg mt-3 text-white-50",remote:true do %>
      <i class="fas fa-check-square"></i><br/><%= "A.#{post.select_a}"%>
      <% end %>
      <h5 class="select-count text-right">
        <%= link_to post_post_selects_show_a_path(post_id: post.id) do %>
         投票数: <i class="fas fa-users"></i>
          <%= @count_A %>
        <% end %>
      </h5>

     <%= link_to "B.#{post.select_b}", post_post_selects_path(post_id:post.id, id:current_user_select.id, is_select:"B" ), method: :PATCH, class:"text-break btn btn-primary btn-lg mt-3", remote:true  %>
      <h5 class="select-count text-right">
        <%= link_to post_post_selects_show_b_path(post_id: post.id) do %>
         投票数: <i class="fas fa-users"></i>
          <%= @count_B %>
        <% end %>
      </h5>

  <% elsif current_user_select.is_select == "B" %> <%# そのユーザーが過去に"B"だったら、"A"はupdate　"B"はdelete %>
    <%= link_to "A.#{post.select_a}", post_post_selects_path(post_id:post.id, id:current_user_select.id, is_select:"A" ), method: :PATCH, class:"text-break btn btn-primary btn-lg mt-3", remote:true %>
      <h5 class="select-count text-right">
        <%= link_to post_post_selects_show_a_path(post_id: post.id) do %>
         投票数: <i class="fas fa-users"></i>
          <%= @count_A %>
        <% end %>
      </h5>

    <%= link_to post_post_selects_path(post_id:post.id, id:current_user_select.id), method: :DELETE, class:"text-break btn btn-info btn-lg mt-3 text-white-50",remote:true do %>
     <i class="fas fa-check-square"></i><br/><%= "A.#{post.select_b}"%>
      <% end %>
      <h5 class="select-count text-right">
        <%= link_to post_post_selects_show_b_path(post_id: post.id) do %>
         投票数: <i class="fas fa-users"></i>
          <%= @count_B %>
        <% end %>
      </h5>

  <% end %>

<% else %><%# もしユーザーが投稿に対して、選択していなかったら、両方ともcreate %>
  <%= link_to "A.#{post.select_a}",post_post_selects_path(post_id:post.id,is_select:"A"),method: :POST,class:"text-break btn btn-primary btn-lg mt-3", remote:true %>
      <h5 class="select-count text-right">
        <%= link_to post_post_selects_show_a_path(post_id: post.id) do %>
         投票数: <i class="fas fa-users"></i>
          <%= @count_A %>
        <% end %>
      </h5>

  <%= link_to  "B.#{post.select_b}",post_post_selects_path(post_id:post.id,is_select:"B"),method: :POST,class:"text-break btn btn-primary btn-lg mt-3", remote:true %>
      <h5 class="select-count text-right">
        <%= link_to post_post_selects_show_b_path(post_id: post.id) do %>
         投票数: <i class="fas fa-users"></i>
          <%= @count_B %>
        <% end %>
      </h5>

<% end %>


<style>
.select_count {
  font-size:10px;
}

</style>


<%#
 [post] = Post.allをeach で回している。

%>