
<div class="container">
  <div class="row justify-content-center">
          <div class="col-12">
          <h1 class="text-center mt-5">投稿内容</h1>
          </div>
      <div class="col-7 mb-5">
        <h1>本文：<%= simple_format(h (@post.post_body)) %></h1>
        <%= attachment_image_tag @post,:post_image %>
        <h2>内容：<%= @post.select_a %></h2>
        <h2>評価数：<%= @post_selects.size %></h2>
      </div>
      
      <div class="col">
        <div class="chart mt-5">
        <%= render 'posts/chart_show',post: @post,legend: false %>
        </div>
      </div>

<div class="d-flex flex-column ">
      <div class="col">
        <h1 class='text-center'>賛同者</h1>
        <table class='select_table mt-3'>
          <tbody>
          <% @post_selects.each.with_index(1) do |post_select, i| %>
            <%  if post_select.is_select == "A" %>
            <tr>
              <th>#<%= i %></th>
              <td>
                <div class="icons">
                  <%= link_to user_path(post_select.user_id) do%>
                  <%= attachment_image_tag post_select.user,:user_photo,class:'select_user_image',fallback:'no_imag_user.png',size:'50x50'%>
                  <div class="d-flex flex-column text-center"><%= post_select.user.user_name %></div>
                  <% end %>
                </div>
              </td>
              <td><%= post_select.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<style>
.select_table td{
  padding:20px;
}

.post_image {
width :200px;
height :200px;
object-fit: cover;
}

.select_user_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 20px;
}

</style>