<!-- ナビゲーションバー -->
 <% if user_signed_in? %>    
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
      <div class="navbar-brand"><%= link_to "for_Reference", posts_path,class:"header-title navbar-brand text-light" %></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <%# ----------ロゴ部分------- %>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <div class="nav-link"><%= link_to "My_timeline",posts_path,class:"fas fa-comments  text-light" %> <span class="sr-only">(current)</span></ｄ>
          </li>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "My_page",user_path(current_user),class:"fas fa-users text-light " %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "Ranking",post_ranking_path,class:"fas fa-users text-light" %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><%= render 'searchs/form' %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "logout",destroy_user_session_path,method: :delete,class:"fas fa-sign-out-alt text-light" %></div>
          </li>
        </ul>
      </div>
    </nav>
    <% end %>